<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  
      <style type="text/css">
        .first {
          margin-left: 300px;
          margin-right: 300px;

        }
                nav {
          background-color: green;
        
      </style>
</head>

<body>

  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">Logo</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">HOME</a></li>
        <li><a href="/user_type">REGISTER</a></li>
        <li><a href="/logout">LOGOUT</a></li>
        <li><a href="/item/list">Items</a></li>
        <li><a href="/item/">ADD</a></li>
      </ul>
    </div>
  </nav>
  <h2 class="center-align"> CHOOSE TYPE </h2>

  <div class="first">
    <form method="POST">
        {% csrf_token %} {{ form.as_p }}
        <button class="waves-effect waves-light btn center-align" type="submit">Submit</button>
    </form>
    </div>

</body>

</html>