<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<style type="text/css">
		.item{
			
			margin-left: 200px;
			margin-right: 200px;

		}
		        nav {
          background-color: green;
        
	</style>
</head>
<body>

  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">Logo</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">HOME</a></li>
        <li><a href="/register">REGISTER</a></li>
        <li><a href="/logout">LOGOUT</a></li>
        <li><a href="/item/list">Items</a></li>
        <li><a href="/item/	">ADD</a></li>
      </ul>
    </div>
  </nav>

<!--{{  item_list }} -->

{% for ilist in item_list %}

<div class="card blue-grey item">
	<h2 class="center-align">ITEM DETAILS</h2>

	<div class="center-align">
	<h5> NAME</h5>
	<p>{{ilist.itemName }}</p>

	<h5> Price</h5>
	<p>{{ ilist.description }}</p>

	<h5> Details</h5>
    <p> {{ ilist.price }}</p>

    <h5> Added on </h5>
    <p> {{ ilist.created_date }}</p>
    </div>
</div>

{% endfor %}

</body>
</html>
